{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
<br>
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{{ path('homepage')}}">Acceuil</a></li>
    <li class="breadcrumb-item ">Permission</a></li>
  </ol>
</nav>
   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Liste des demandes de permission pour modification de ligne dispatch</div>
                </div>
                <div class="card-body">
                     <table id="basic-datatables" class="display table table-striped table-hover">
                        <thead>
                        <tr>
                            <th data-field="date">Date de demande</th>
                            <th ddata-field="Demandeur">Demandeur</th>
                            <th ddata-field="Type">Type</th>
                            <th ddata-field="ligne">Etat</th>
                            <th data-field="action">Voir la ligne dispatch</th>
                           
                        </tr>                           
                        </thead>
                        <tbody>
                          {% for demande in demandes %}
                              <tr>
                                  <td>{{ demande.date|date('d-m-Y H:m:s') }}</td> 
                                  <td>{{ demande.demandeur.username }}</td> 
                                  <td>{{ demande.type.libelle }}</td> 
                                  <td>
                                    {% if demande.etat == 1 %}
                                      demande autorisée
                                    {% endif %}

                                     {% if demande.etat == 0 and demande.status == 0 %}
                                      demande en cours
                                    {% endif %}

                                    {% if demande.etat  == 0 and demande.status == 1 %}
                                      demande refusé
                                    {% endif %}

                                    </td> 
                                  <td>
                                      <a href="{{path('visualiastionLigneJournal',{'id':demande.journal.id,'type':demande.type.id}) }}" >
                                      <button class="btn btn-sm btn-success waves-effect" type="submit" >Voir la ligne</button></a> 
                                  </td> 
                          {% endfor %}  
                        </tbody>
                    </table>
                </div>     
            </div>
      </div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">



  $('#basic-datatables').DataTable({
      });


</script>

{% endblock %}