{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
<br>
{% set etat = 0 %}
<div class="row">
  
  <div class="col-sm-10 col-md-10">
  <a class="btn btn-primary" href="{{ path('visualisationDeJournal',{'importation':ligneJournal.importation.id}) }}" style="margin:0.5%">retour</a>
  </div>
  <div class="col-sm-2 col-md-2 ">
  {% if dispatchs != null and ligneJournal.dispatch == 1 %}
<a class="btn btn-danger pull-right" style="margin:2%" onclick=" valider()"> Cloturer le dispatch</a>
{% endif %}
  </div>
</div>

 <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Ligne cumul choisie</div>
                </div>
                <div class="card-body">
                  <table class="display table table-striped table-hover" >
                      <thead>
                      <tr>
                          <th data-field="total">Montant Total à dispatcher</th>
                          <th data-field="dispatch">Montant montant deja dispatché</th>
                          <th data-field="restant">Montant restant à dispatcher</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr> 
                              <td>{{ ligneJournal.montantDebit|number_format(2, '.', ' ') }}</td> 
                              <td>{{ dispatch|number_format(2, '.', ' ') }}</td> 
                              <td id="TotalRestant">{{ (ligneJournal.montantDebit  -  dispatch)|number_format(2, '.', ' ') }}</td> 
                          </tr>
                      </tbody>
                  </table>

                </div>     
            </div>
      </div>
</div>
<br><br>
<div class="row col-12" >
          <div class="col-8">
            <div class="card ">
               <div class="card-header" > 
               <h3>Dispatchs deja realisés</h3>
              </div>
              <div class="card-body" >
               <table id="basic-datatables" class="display table table-striped table-hover">
                  <thead>
                  <tr>
                      <th data-field="jour"  >Jour</th>
                      <th data-field="NumCompteGen">Numero de Compte General</th>
                      <th data-field="Libecriture">Libelle Ecriture</th>
                      <th data-field="debit">Debit</th>
                      <th data-field="Credit">Credit</th>
                      <th data-field="Action">Action</th>
                  </tr>                           
                  </thead>
                  <tbody>
                      {% for dispatch in dispatchs %}
                      <tr>
                      <td>{{ dispatch.jour|date('d-m-Y H:m:s') }}</td> 
                      <td>{{ dispatch.numCompteGeneral }}</td> 
                      <td>{{ dispatch.libelleEcriture }}</td> 
                      <td>
                        {% if dispatch.montantDebit != null %}
                          {{ dispatch.montantDebit|number_format(2, '.', ' ') }}
                        {% endif %}
                      </td> 
                      <td>
                        {% if dispatch.montantCredit != null %}
                          {{ dispatch.montantCredit|number_format(2, '.', ' ') }}
                        {% endif %}
                      </td> 
                      <td>
                         {% if dispatch.montantCredit == null %}
                           <a href="{{ path('envoieDemandePermission',{'journal':journal.id} ) }}" >
                                      <button class="btn btn-success waves-effect" type="submit" >Modifier</button></a>
                        {% endif %}
                       
                      </td> 
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
          </div>



          <div class="col-4">
            <div class="card ">
               <div class="card-header" > 
                <h3>Formulaire pour effectuer un dispatch de la ligne choisie</h3>
              </div>
              <div class="card-body" >
               {{ form_start(form,{'attr': {'v':'v' ,'class':'form-horizontal style-form' }}) }}
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Credit:</label>
                      <div class="col-sm-10">
                     <input type="text" name="numeroType"  class="form-control" value="{{ligneJournal.importation.typeOperation.numCptDebit}}" disabled>
                      </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Banque:</label>
                    <div class="col-sm-10">
                     {{ form_errors(form.numCptDebiter) }}
                     {{ form_widget(form.numCptDebiter,{'attr':{'class':'form-control' ,'autocomplete': 'off'}}) }}
                    </div>
                  </div>
                 <br>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Libelle ecriture: </label>
                    <div class="col-sm-10">
                     {{ form_errors(form.libelle) }}
                     {{ form_widget(form.libelle,{'attr':{'class':'form-control', 'autocomplete': 'off'}}) }}
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">montant: </label>
                    <div class="col-sm-10">
                     {{ form_errors(form.montant) }}
                     {{ form_widget(form.montant,{'attr':{'class':'form-control','autocomplete': 'off'}}) }}
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="form-group">
                    <center>
                    <button type="submit" class="btn btn-primary">valider</button>
                      <button type="reset" class="btn btn-danger">annuler</button> 
                    </center>
                  </div>
                  {{ form_end(form) }} 
              </div>
            </div>
          </div>

           
      </div>


{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">


$('#basic-datatables').DataTable({
    });

{% for error in form.vars.errors.form.getErrors(true) %} 

      var placementFrom = 'top';
      var placementAlign = 'right';
      var state = 'danger';
      var style = 'withicon';
      var content = {};

      content.message = '{ error.message }}   ';
      content.title = 'notification';
      if (style == "withicon") {
          content.icon = 'fa fa-bell';
      } else {
          content.icon = 'none';
      }
      content.url = '#';
      

      $.notify(content,{
          type: state,
          placement: {
              from: placementFrom,
              align: placementAlign
          },
          time: 1000,
          delay: 0,
      });
{% endfor %}

function valider() {
  var choice=confirm("confirmez");
  if(choice == true)
  {
    if(document.getElementById('TotalRestant').textContent==0)
    {
      window.location.href='{{ path('finDispatch',{'ligneJournal':ligneJournal.id}) }}';
    }else
    {
      alert('Montant saisie incorrect');
    }
  }
}

</script>
{% endblock %}