{% extends 'base.html.twig' %}

{% block stylesheets %}

<link href="{{ asset ('css/bootstrap-table.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
  
     {% for error in editForm.vars.errors.form.getErrors(true) %}          
      <div class="alert bg-danger" role="alert">
        <svg class="glyph stroked cancel">
          <use xlink:href="#stroked-cancel"></use></svg>  {{ error.message }} 
        <a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    {% endfor %}
 <center><h3>Modification d'un produit</h3></center>

    <div class="col-lg-12">
      <a class="btn btn-primary" href="{{ path('homepage')}}" style="margin:2%">retour</a>
              <div class="panel panel-default">
                     <div class="panel panel-default">
                                <div class="panel-body">
                                  {{ form_start(editForm,{'attr': {'v':'v' ,'class':'form-horizontal style-form' }}) }}
                                            <div class="form-group">
                                              <label class="col-sm-2 col-sm-2 control-label">Nom du produit:</label>
                                                <div class="col-sm-10">
                                                {{ form_errors(editForm.nomProduit) }}
                                                 {{ form_widget(editForm.nomProduit,{'attr':{'class':'form-control','autocomplete': 'off'}}) }} 
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                              <label class="col-sm-2 col-sm-2 control-label">Numero de code du produit:</label>
                                                <div class="col-sm-10">
                                                {{ form_errors(editForm.numeroDeCodeProduit) }}
                                                 {{ form_widget(editForm.numeroDeCodeProduit,{'attr':{'class':'form-control','autocomplete': 'off'}}) }}  
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                              <label class="col-sm-2 col-sm-2 control-label">Numero de compte du produit: </label>
                                              <div class="col-sm-10">
                                               {{ form_errors(editForm.numCptCredit) }}
                                               {{ form_widget(editForm.numCptCredit,{'attr':{'class':'form-control','autocomplete': 'off'}}) }}
                                              </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                              <center>
                                              <button type="submit" class="btn btn-primary">valider</button>
                                                <button type="reset" class="btn btn-default">annuler</button> 
                                              </center>
                                            </div>
                                {{ form_end(editForm) }}           
                        </div>
                    </div>
              </div>
          </div>
    {% endblock %}

{% block javascripts %}


<script src="{{ asset ('js/bootstrap-table.js') }}"></script>

<script type="text/javascript">

</script>

{% endblock %}