{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
<br>
   <a class="btn btn-primary" href="{{ path('visualisationDeJournal',{'importation':journal.importation.id}) }}" style="margin:1%">retour</a>
   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Modification d'une ligne dispatch</div>
                </div>
                <div class="card-body">
                  {{ form_start(editForm,{'attr': {'v':'v' ,'class':'form-horizontal style-form' }}) }}
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label>Banque:</label>
                        {{ form_errors(editForm.numCptDebiter) }}
                        {{ form_widget(editForm.numCptDebiter,{'attr':{'class':'form-control'}}) }} 
                      </div>
                    </div>
                     <div class="col-lg-4">
                      <div class="form-group">
                        <label >Libelle ecriture:</label>
                         {{ form_errors(editForm.libelle) }}
                         {{ form_widget(editForm.libelle,{'attr':{'class':'form-control'}}) }}  
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label >montant:</label>
                         {{ form_errors(editForm.montant) }}
                         {{ form_widget(editForm.montant,{'attr':{'class':'form-control','autocomplete': 'off'}}) }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <center>
                    <button type="submit" class="btn btn-primary">valider</button>
                    <button type="reset" class="btn btn-danger">annuler</button> 
                    </center>
                  </div>
                  {{ form_end(editForm) }}

                </div>     
            </div>
      </div>
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

{% for error in editForm.vars.errors.form.getErrors(true) %} 

      var placementFrom = 'top';
      var placementAlign = 'right';
      var state = 'danger';
      var style = 'withicon';
      var content = {};

      content.message = '{{ error.message }}';
      content.title = 'notification';
      if (style == "withicon") {
          content.icon = 'fa fa-bell';
      } else {
          content.icon = 'none';
      }
      content.url = '#';
      

      $.notify(content,{
          type: state,
          placement: {
              from: placementFrom,
              align: placementAlign
          },
          time: 1000,
          delay: 0,
      });
{% endfor %}

</script>

{% endblock %}