{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
<br>
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{{ path('homepage')}}">Acceuil</a></li>
    <li class="breadcrumb-item ">{{position}}</a></li>
  </ol>
</nav>

   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">{{position}}</div>
                </div>
                <div class="card-body">
                  {{ form_start(rechercheForm,{'attr': {'v':'v' ,'class':'form-horizontal style-form' }}) }}
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label>Type d'operation:</label>
                        {{ form_errors(rechercheForm.typeOperation) }}
                        {{ form_widget(rechercheForm.typeOperation,{'attr':{'class':'form-control'}}) }} 
                      </div>
                    </div>
                     <div class="col-lg-3">
                      <div class="form-group">
                        <label >Mois:</label>
                         {{ form_errors(rechercheForm.mois) }}
                         {{ form_widget(rechercheForm.mois,{'attr':{'class':'form-control','autocomplete': 'off','placeholder':'veuillez saisir le numero du mois'}}) }}
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label >annee:</label>
                         {{ form_errors(rechercheForm.annee) }}
                         {{ form_widget(rechercheForm.annee,{'attr':{'class':'form-control','autocomplete': 'off','placeholder':'veuillez saisir l année en chiffre'}}) }}
                      </div>
                    </div>
                    <div class="col-lg-3 pt-4">
                      <div class="form-group">
                       <button type="submit" class="btn btn-primary">Rechercher</button>
                      </div>
                    </div>
                  </div>
                 
                  {{ form_end(rechercheForm) }}

                </div>     
            </div>
      </div>
</div>

{% if importation != null %}

   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">{{position}}</div>
                </div>
                <div class="card-body">
                  <table id="basic-datatables" class="display table table-striped table-hover">
                      <thead>
                      <tr>
                          <th data-field="jour"  >Jour d'importation</th>
                          <th ddata-field="periode">Mois-Annee de l'operation</th>
                          <th ddata-field="periode">Type de l'operation importé</th>
                          <th data-field="action">Action</th>
                         
                      </tr>                           
                      </thead>
                      <tbody>
                          <tr>
                              <td>{{ importation.dateCreation|date('d-m-Y') }}</td> 
                              <td>{{ importation.mois|date('m') }} - {{ importation.annee|date('Y') }}</td> 
                              <td>{{ importation.typeOperation.libelletypeOperation }} </td> 
                           
                              <td>
                                {% if importation.status == 0 %}
                                  <a  href="{{ path('operationCaisse',{'importation':importation.id}) }}" onclick="return confirm('cliquez sur ok pour confirmer')" ><button class="btn btn-sm btn-primary waves-effect" type="submit" >Traiter l'importation</button></a>
                                {% endif %}
                                {% if importation.status == 1 %}
                                  <a  href="{{ path('generationDeJournal',{'importation':importation.id}) }}" onclick="return confirm('cliquez sur ok pour confirmer')" ><button class="btn btn-sm btn-primary waves-effect" type="submit" >Creer le Journal de l'operation</button></a>
                                {% endif %}
                                {% if importation.status == 2 %}
                                  <a  href="{{ path('visualisationDeJournal',{'importation':importation.id}) }}" ><button class="btn btn-sm btn-primary waves-effect" type="submit" >Voir Le Journal</button></a>
                                {% endif %}
                              </td>  

                          </tr>
                          
                      </tbody>
                  </table>
                </div>     
            </div>
      </div>
</div>

{% endif %}


{% if importation == null %}
  <br>
  <br>
  <center><h2 style="color:white">Veuillez saisir les informations de votre recherche dans le formulaire ci-dessus </h2></center>
{% endif %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">


$('#basic-datatables').DataTable({
    });


{% for error in rechercheForm.vars.errors.form.getErrors(true) %} 

      var placementFrom = 'top';
      var placementAlign = 'center';
      var state = 'danger';
      var style = 'withicon';
      var content = {};

      content.message = '{{ error.message }}';
      content.title = 'notification';
      if (style == "withicon") {
          content.icon = 'fa fa-bell';
      } else {
          content.icon = 'none';
      }
      content.url = '#';
      

      $.notify(content,{
          type: state,
          placement: {
              from: placementFrom,
              align: placementAlign
          },
          time: 1000,
          delay: 0,
      });
{% endfor %}
  
</script>

{% endblock %}