{% extends 'base.html.twig' %}

{% block stylesheets %}

<link href="{{ asset ('css/bootstrap-table.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <div class="col-lg-12">
      <a class="btn btn-primary" href="{{ path('homepage')}}" style="margin:2%">retour</a>
              <div class="panel panel-default">
                     <div class="panel panel-default">
                                <div class="panel-body">
                                     <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                        <thead>
                                        <tr>
                                            <th data-field="jour"  >Jour</th>
                                            <th ddata-field="NumPiece">Numero Piece</th>
                                            <th data-field="NumFact">Numero Facture</th>
                                            <th data-field="Ref">Reference</th>
                                            <th data-field="NumCompteGen">Numero de Compte General</th>
                                            <th data-field="NumCptTiers">Numero Compte Tiers</th>
                                            <th data-field="Libecriture">Libelle Ecriture</th>
                                            <th data-field="DateEcheance">Date Echeance</th>
                                            <th data-field="PositionJournal">Position Journal</th>
                                            <th data-field="debit">Debit</th>
                                            <th data-field="Credit">Credit</th>
                                        </tr>                           
                                        </thead>
                                        <tbody>
                                            {% for journal in journalArray %}
                                            <tr>
                                                <td>{{ journal.jour|date('d-m-Y') }}</td> 
                                                <td>{{ journal.numPiece }}</td> 
                                                <td>{{ journal.numFacture }}</td> 
                                                <td>{{ journal.reference }}</td> 
                                                <td>{{ journal.numCompteGeneral }}</td> 
                                                <td>{{ journal.numComptTiers }}</td> 
                                                <td>{{ journal.libelleEcriture }}</td> 
                                                <td>{{ journal.dateEcheance }}</td> 
                                                <td>{{ journal.positionJournal }}</td> 
                                                <td>{{ journal.montantDebit }}</td> 
                                                <td>{{ journal.montantCredit }}</td> 
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
              </div>
          </div>
    {% endblock %}

{% block javascripts %}


<script src="{{ asset ('js/bootstrap-table.js') }}"></script>

<script type="text/javascript">

</script>

{% endblock %}