{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}


{% endblock %}

{% block body %}
<br>
{% set etat = 0 %}
<div class="row">
  
  <div class="ml-4">
  <a class="btn btn-primary" href="{{ path('homepage')}}" style="margin:0.5%">retour</a>
  </div>
  <div class="ml-auto ">
  {% if journalArray[0].dispatch != 1 %}
  <a onclick="return confirm('confirmez?')" class="btn btn-success " href="{{ path('exportationJournal',{'importation':importation}) }}" style="margin-top:2%">Exporter le journal en format CSV</a>
    {% endif %}
 
  </div>
</div>

<div class="row" >
          <div class="col-12">
            <h3>Journal</h3>
            <table id="basic-datatables" class="display table table-striped table-hover" >
                          <thead>
                          <tr>
                              <th data-field="jour">Jour</th>
                              <th ddata-field="NumPiece">Numero Piece</th>
                              <th data-field="NumFact">Numero Facture</th>
                              <th data-field="Ref">Reference</th>
                              <th data-field="NumCompteGen">Numero de Compte General</th>
                              <th data-field="NumCptTiers">Numero Compte Tiers</th>
                              <th data-field="Libecriture">Libelle Ecriture</th>
                              <th data-field="DateEcheance">Date Echeance</th>
                              <th data-field="PositionJournal">Position Journal</th>
                              <th data-field="debit">Debit</th>
                              <th data-field="Credit">Credit</th>
                              <th data-field="action">Action</th>

                          </tr>                           
                          </thead>
                          <tbody>
                              {% for journal in journalArray %}
                              <tr>
                                  <td>{{ journal.jour|date('d-m-Y H:m:s') }}</td> 
                                  <td>{{ journal.numPiece }}</td> 
                                  <td>{{ journal.numFacture }}</td> 
                                  <td>{{ journal.reference }}</td> 
                                  <td>{{ journal.numCompteGeneral }}</td> 
                                  <td>{{ journal.numComptTiers }}</td> 
                                  <td>{{ journal.libelleEcriture }}</td> 
                                  <td>{{ journal.dateEcheance }}</td> 
                                  <td>{{ journal.positionJournal }}</td> 
                                  <td>
                                    {% if journal.montantDebit != null %}
                                      {{ journal.montantDebit|number_format(2, '.', ' ') }}
                                    {% endif %}
                                  </td> 
                                  <td>
                                    {% if journal.montantCredit != null %}
                                      {{ journal.montantCredit|number_format(2, '.', ' ') }}
                                    {% endif %}
                                  </td> 
                                  <td>
                                      {% if journal.cumul == null  and dispatchs == null %}
                                          <a href="{{ path('dispatch',{'ligneJournal':journal.id}) }}" >
                                          <button class="btn btn-primary waves-effect" type="submit" >Dispatcher</button></a>
                                      {% endif %}

                                      {% if journal.cumul == null  and dispatchs != null and journal.dispatch != null  %}
                                          {% if journal.dispatch == 0 or journal.dispatch == 1 %}
                                              {% set etat = 1 %}
                                      <a href="{{ path('dispatch',{'ligneJournal':journal.id}) }}" >
                                      <button class="btn btn-primary waves-effect" type="submit" >Dispatcher</button></a>
                                          {% endif %}
                                      {% endif %}

                                      {% if journal.cumul == null  and dispatchs != null and etat == 0 %}
                                          {% if journal.dispatch == 1 or journal.dispatch == null %}
                                      <a href="{{ path('dispatch',{'ligneJournal':journal.id}) }}" >
                                      <button class="btn btn-primary waves-effect" type="submit" >Dispatcher</button></a>
                                          {% endif %}
                                      {% endif %}

                                       {% if journal.cumul != null  and journal.dispatch == 1 and journal.montantCredit == null  %}
                                         
                                      <a href="{{ path('envoieDemandePermission',{'journal':journal.id} ) }}" >
                                      <button class="btn btn-success waves-effect" type="submit" >Modifier</button></a>
                                          
                                      {% endif %}

                                  </td> 
                              </tr>
                              {% endfor %}
                          </tbody>
            </table>
          </div>
          
</div>


{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$('#basic-datatables').DataTable({
      });

</script>

{% endblock %}