{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
<br>
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{{ path('homepage')}}">Acceuil</a></li>
    <li class="breadcrumb-item ">Nouvelle Importation</a></li>
  </ol>
</nav>
   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Nouvelle Importation</div>
                </div>
                <div class="card-body">
                  {{ form_start(form,{'attr': {'v':'v' ,'class':'form-horizontal style-form','autocomplete': 'off' }}) }}
                  <div class="row">
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label>Fichier CSV:</label>
                        {{ form_errors(form.datacsv) }}
                        {{ form_widget(form.datacsv,{'attr':{'class':'form-control-file'}}) }} 
                      </div>
                    </div>
                     <div class="col-lg-2 ">
                      <div class="form-group">
                        <label >Type d'operation:</label>
                         {{ form_errors(form.typeOperation) }}
                         {{ form_widget(form.typeOperation,{'attr':{'class':'form-control'}}) }}  
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label >Mois:</label>
                         {{ form_errors(form.mois) }}
                         {{ form_widget(form.mois,{'attr':{'class':'form-control','autocomplete': 'off' ,'placeholder':'veuillez saisir le numero du mois'}}) }}
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="email2">annee: </label>
                        {{ form_errors(form.annee) }}
                        {{ form_widget(form.annee,{'attr':{'class':'form-control','autocomplete': 'off','placeholder':'veuillez saisir l année en chiffre'}}) }}
                      </div>
                    </div>
                   
                  <div class="col-lg-2 pt-4">
                    <div class="form-group" >
                      <button type="submit" class="btn btn-primary">Importer</button>
                    </div>
                  </div>
                  {{ form_end(form) }}

                </div>     
            </div>
      </div>
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">


  $('#basic-datatables').DataTable({
      });


{% for error in form.vars.errors.form.getErrors(true) %} 

      var placementFrom = 'top';
      var placementAlign = 'center';
      var state = 'danger';
      var style = 'withicon';
      var content = {};

      content.message = '{{ error.message }}';
      content.title = 'notification';
      if (style == "withicon") {
          content.icon = 'fa fa-bell';
      } else {
          content.icon = 'none';
      }
      content.url = '#';
      

      $.notify(content,{
          type: state,
          placement: {
              from: placementFrom,
              align: placementAlign
          },
          time: 1000,
          delay: 0,
      });
{% endfor %}

</script>

{% endblock %}