{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
<br>
   <a class="btn btn-primary" href="{{ path('homepage')}}" style="margin:1%">retour</a>
   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Nouvelle Importation</div>
                </div>
                <div class="card-body">
                  {{ form_start(form,{'attr': {'v':'v' ,'class':'form-horizontal style-form' }}) }}
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label>Fichier CSV:</label>
                        {{ form_errors(form.datacsv) }}
                        {{ form_widget(form.datacsv,{'attr':{'class':'form-control-file'}}) }} 
                      </div>
                    </div>
                     <div class="col-lg-3">
                      <div class="form-group">
                        <label >Type d'operation:</label>
                         {{ form_errors(form.typeOperation) }}
                         {{ form_widget(form.typeOperation,{'attr':{'class':'form-control'}}) }}  
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label >Mois:</label>
                         {{ form_errors(form.mois) }}
                         {{ form_widget(form.mois,{'attr':{'class':'form-control','autocomplete': 'off'}}) }}
                        <small class="form-text text-muted"> *veuillez renseigner le numero du mois</small>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="email2">annee: </label>
                        {{ form_errors(form.annee) }}
                        {{ form_widget(form.annee,{'attr':{'class':'form-control','autocomplete': 'off'}}) }}
                      </div>
                    </div>
                   
                  </div>
                  <div class="form-group">
                    <center>
                    <button type="submit" class="btn btn-primary">valider</button>
                    <button type="reset" class="btn btn-danger">annuler</button> 
                    </center>
                  </div>
                  {{ form_end(form) }}

                </div>     
            </div>
      </div>
</div>

   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Liste des Importations</div>
                </div>
                <div class="card-body">
                  <table id="basic-datatables" class="display table table-striped table-hover">
                          <thead>
                          <tr>
                              <th data-field="jour"  >Jour d'importation</th>
                              <th ddata-field="periode">Mois-Annee de l'operation</th>
                              <th ddata-field="periode">Type de l'operation importé</th>
                              <th data-field="action">Action</th>
                             
                          </tr>                           
                          </thead>
                          <tbody>
                              {% for importation in importations %}
                              <tr>
                                  <td>{{ importation.dateCreation|date('d-m-Y H:m:s') }}</td> 
                                  <td>{{ importation.mois|date('m') }} - {{ importation.annee|date('Y') }}</td> 
                                  <td>{{ importation.typeOperation.libelletypeOperation }} </td> 
                               
                                  <td>
                                    {% if importation.status == 0 %}
                                      <a  href="{{ path('operationCaisse',{'importation':importation.id}) }}" onclick="return confirm('confirmez?')" ><button class="btn btn-primary waves-effect" type="submit" >Traiter l'importation</button></a>
                                    {% endif %}
                                    {% if importation.status == 1 %}
                                      <a  href="{{ path('generationDeJournal',{'importation':importation.id}) }}" onclick="return confirm('confirmez?')" ><button class="btn btn-primary waves-effect" type="submit" >Creer le Journal de l'operation</button></a>
                                    {% endif %}
                                    {% if importation.status == 2 %}
                                      <a  href="{{ path('visualisationDeJournal',{'importation':importation.id}) }}" ><button class="btn btn-primary waves-effect" type="submit" >Voir Le Journal</button></a>
                                    {% endif %}
                                  </td>  

                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                </div>     
            </div>
      </div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">


  $('#basic-datatables').DataTable({
      });


{% for error in form.vars.errors.form.getErrors(true) %} 

      var placementFrom = 'top';
      var placementAlign = 'right';
      var state = 'danger';
      var style = 'withicon';
      var content = {};

      content.message = '{{ error.message }}';
      content.title = 'notification';
      if (style == "withicon") {
          content.icon = 'fa fa-bell';
      } else {
          content.icon = 'none';
      }
      content.url = '#';
      

      $.notify(content,{
          type: state,
          placement: {
              from: placementFrom,
              align: placementAlign
          },
          time: 1000,
          delay: 0,
      });
{% endfor %}

</script>

{% endblock %}