{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
<br>
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{{ path('homepage')}}">Acceuil</a></li>
    <li class="breadcrumb-item ">Mode de paiement</a></li>
  </ol>
</nav>
   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Nouveau Mode de paiement</div>
                </div>
                <div class="card-body">
                  {{ form_start(typeOperationForm,{'attr': {'v':'v' ,'class':'form-horizontal style-form' }}) }}
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label>Nom du mode de paiement:</label>
                        {{ form_errors(typeOperationForm.libelleTypeOperation) }}
                        {{ form_widget(typeOperationForm.libelleTypeOperation,{'attr':{'class':'form-control'}}) }} 
                      </div>
                    </div>
                     <div class="col-lg-4">
                      <div class="form-group">
                        <label >Numero de compte du type d'operation:</label>
                         {{ form_errors(typeOperationForm.numCptDebit ) }}
                         {{ form_widget(typeOperationForm.numCptDebit,{'attr':{'class':'form-control'}}) }}  
                      </div>
                    </div>
                    <div class="col-lg-3 pt-3">
                      <div class="form-group">
                       <button type="submit" class="btn btn-primary">valider</button>
                      </div>
                    </div>
                  </div>
                  {{ form_end(typeOperationForm) }}

                </div>     
            </div>
      </div>
</div>

   <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Liste des Modes de paiement</div>
                </div>
                <div class="card-body">
                     <table id="basic-datatables" class="display table table-striped table-hover">
                        <thead>
                        <tr>
                            <th data-field="nomTypeOperation"  >Nom du Mode de paiement</th>
                            <th ddata-field="numTypeOperation">Numero de compte du Mode de paiement</th>
                            <th data-field="action">Action</th>
                           
                        </tr>                           
                        </thead>
                        <tbody>
                            {% for typeOperation in typeOperations %}
                            <tr>
                                <td>{{ typeOperation.libelleTypeOperation }}</td> 
                                <td>{{ typeOperation.numCptDebit }}</td> 
                             
                                <td>

                                <a  href="{{ path('editTypeOperation',{'typeOperation':typeOperation.id}) }}"><button class="btn btn-sm btn-warning waves-effect" type="submit" >Modifier</button></a>
                                
                                <a  href="{{ path('effacerTypeOperation',{'typeOperation':typeOperation.id}) }}"><button class="btn btn-sm btn-danger waves-effect" type="submit" onclick="return confirm('cliquez sur ok pour confirmer')" >Supprimer</button></a>

                                </td>  

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>     
            </div>
      </div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">



  $('#basic-datatables').DataTable({
      });



{% for error in typeOperationForm.vars.errors.form.getErrors(true) %} 

      var placementFrom = 'top';
      var placementAlign = 'center';
      var state = 'danger';
      var style = 'withicon';
      var content = {};

      content.message = '{{ error.message }}';
      content.title = 'notification';
      if (style == "withicon") {
          content.icon = 'fa fa-bell';
      } else {
          content.icon = 'none';
      }
      content.url = '#';
      

      $.notify(content,{
          type: state,
          placement: {
              from: placementFrom,
              align: placementAlign
          },
          time: 1000,
          delay: 0,
      });
{% endfor %}

</script>

{% endblock %}