{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

{% endblock %}

{% block body %}
          <div class="row mt-2" >
            <div class="col-12">
            <h4> Importation </h4> 
              <div style="height: 100px; width: 100px">
                <div class="card shadow mb-5">
                  <div class="card-body" style="background-color: #0082bb;color:white">
                   <a href="{{ path('nouvelleImportation') }}"> 
                      <center>
                        <span  style="font-size:22px; color: white">
                         <i class="fas fa-file-upload"></i>
                        </span>
                     </center>
                    </a>
                  </div>
                   <div class="card-header p-1 text-center" style="background-color: #005b82;color:white ; font-size:12px"> 
                    Nouveau
                  </div>
                  
                </div>
              </div>
          </div>
      </div>

      <div class="row mt-3" >
        <div class="col-12">
          <h4>Structure des &eacute;critures</h4>
          <div class="container-fluid">
            <div class="row">

                  <div style="height: 100px; width: 100px ;margin-right:10px" >
                    <div class="card shadow mb-5">
                      <div class="card-body" style="background-color: #0082bb;color:white">
                       <a href="{{ path('formatageRecherche') }}"> 
                          <center>
                             <span  style="font-size:22px; color: white">
                            <i class="fas fa-pen-nib"></i>
                            </span>
                         </center>
                        </a>
                      </div>
                       <div class="card-header p-1 text-center" style="background-color: #005b82;color:white; font-size:12px"> 
                        Formatage
                      </div>
                    </div>
                  </div>

                  <div style="height: 100px; width: 100px ;margin-right:10px" >
                    <div class="card shadow mb-5">
                      <div class="card-body" style="background-color: #0082bb;color:white">
                       <a href="{{ path('journalRecherche') }}"> 
                          <center>
                             <span  style="font-size:22px; color: white">
                            <i class="fas fa-book-open"></i>
                            </span>
                         </center>
                        </a>
                      </div>
                       <div class="card-header p-1 text-center" style="background-color: #005b82 ;color:white ; font-size:12px"> 
                        Journal
                      </div>
                    </div>
                  </div>

                <div style="height: 100px; width: 100px ;margin-right:10px" >
                  <div class="card shadow mb-5">
                    <div class="card-body" style="background-color: #0082bb ;color:white">
                     <a href="{{ path('dispatchRecherche') }}"> 
                        <center>
                           <span  style="font-size:22px; color: white">
                         <i class="fas fa-sitemap"></i>
                          </span>
                       </center>
                      </a>
                    </div>
                     <div class="card-header p-1 text-center" style="background-color: #005b82;color:white ; font-size:12px"> 
                      Dispatch
                    </div>
                  </div>
                </div>

            </div>

          </div>
            
      </div>
</div>   

      <div class="row mt-3">
        <div class="col-12"> 
            <h3>Administration</h3>
            <div class="container-fluid">
              <div class="row">

                    <div style="height: 100px; width: 100px ;margin-right:10px" >
                      <div class="card shadow mb-5">
                        <div class="card-body" style="background-color: #0082bb;color:white">
                         <a href="{{ path('produit') }}"> 
                            <center>
                               <span  style="font-size:22px; color: white">
                                <i class="fas fa-umbrella"></i>
                              </span>
                           </center>
                          </a>
                        </div>
                         <div class="card-header p-1 text-center" style="background-color: #005b82 ;color:white ; font-size:12px"> 
                          Produit
                        </div>
                      </div>
                    </div>
                     
                    <div style="height: 100px; width: 100px ;margin-right:10px" >
                      <div class="card shadow mb-5">
                        <div class="card-body" style="background-color: #0082bb ;color:white">
                         <a href="{{ path('typeOperation') }}"> 
                            <center>
                               <span  style="font-size:22px; color: white">
                                <i class="fas fa-cogs"></i>
                              </span>
                           </center>
                          </a>
                        </div>
                         <div class="card-header p-1 text-center" style="background-color: #005b82;color:white; font-size:12px"> 
                          Mode&nbsp;paiement
                        </div>
                      </div>
                    </div>

                    <div style="height: 100px; width: 100px ;margin-right:10px" >
                      <div class="card shadow mb-5">
                        <div class="card-body" style="background-color: #0082bb ;color:white">
                         <a href="{{ path('users') }}"> 
                            <center>
                               <span  style="font-size:22px; color: white">
                               <i class="fas fa-user-friends"></i>
                              </span>
                           </center>
                          </a>
                        </div>
                         <div class="card-header p-1 text-center" style="background-color: #005b82;color:white ; font-size:12px"> 
                          Utilisateur
                        </div>
                      </div>
                    </div>

              </div>

            </div>
      </div>
    </div>

      <div class="row mt-3 ">
       
        <div class="col-12"> 
            <h3>Plan comptable</h3>
            <div class="container-fluid">
                <div class="row">
   
            

                </div>
            </div>
        </div>
      </div>
 
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

</script>

{% endblock %}