{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-4 offset-md-4 mt-5 ">

<!-- Default form login -->
<form action="{{ path("fos_user_security_check") }}" method="post" class="text-center border border-light p-5 shadow" style="background-color: white">
     {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %} 

    <p class="h4 mb-4" >Connectez-vous</p>

    <!-- Email -->
    <input type="text" class="form-control mb-4" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

    <!-- Password -->
    <input class="form-control mb-4" type="password" id="password" name="_password" required="required" autocomplete="current-password" />

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox" >
            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on" />

            <label class="custom-control-label" for="remember_me" > Se rappeler de moi  </label>

            </div>
        </div>
       
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Se connecter</button>

<div class="center" >
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

</div>

</form>
<!-- Default form login -->
</div>